* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 2rem;
  padding: 2rem;
  border-radius: 10px;
}
span {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 2rem;
  padding: 1rem 2rem;
}
